<header>
<h1>MoneyWallet</h1>
<%= link_to 'Sign up', new_user_registration_path, class: 'sign-in-btn'%>
</header>

<section class="splash-page">
<h1> Welcome To Money Wallet </h1>
<p>The Best Way To Manage Your Money</p>
<div class= "splash-actions">
<%= link_to 'Log-in', user_session_path, class: 'sign-in-btn' %>
</div>
</section>